<div class="row">
    <div class="col-8"><app-herramientas-list [herramientas]="herramientas"></app-herramientas-list></div>
        <div class="col-4" *ngIf="seeButton()"><app-herramientas-cart></app-herramientas-cart>
            <div *ngIf="seeAuxFinalBuy() == false">
                <button type="button" class="button-buy btn btn-danger" (click)="deleteCart()">Borrar Compra</button>
                <button type="button" class="button-buy btn btn-success" (click)="totalBuy()"> COMPRAR</button>
            </div>
            <div *ngIf="seeAuxFinalBuy()">
                <div class="msj"> El valor total es: {{valueTotal| currency}}</div>
                <button type="button" class="button-buy btn btn-danger" (click)="backShop()">Volver a comprar</button>
            </div>
        </div>
    <div>
    
</div>
