<div class="row">
    <div class="col-8"><app-herramientas-list [herramientas]="herramientas"></app-herramientas-list></div>
    <div class="col-4"><app-herramientas-cart></app-herramientas-cart>
        <div *ngIf="seeCartList()">
            <button type="button" class="button-buy btn btn-danger" (click)="deleteCart()">Borrar Compra</button>
            <button type="button" class="button-buy btn btn-success" (click)="totBuy()"> COMPRAR</button>
        </div>
        <app-herramienta-sell></app-herramienta-sell>
    </div>


</div>
