nav {
    padding: 0%;
    top: 0px;
    width: 100%;
}

div.container-fluid {
    background-color: rgb(155, 52, 78);
}

.container {
    padding: 5px;
}

div.container-fluid a.navbar-brand {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(73, 32, 42);
}

a.nav-link {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(73, 32, 42);
    text-decoration: underline;
}

footer {
    position: relative;
    text-align: center;
    height: 50px;
    line-height: 50px;
    bottom: 0% !important;
    font-style: italic;
    background-color: rgb(155, 52, 78);
}