
<table class = "table text-center" *ngIf="seeCartBuy ()">
    <thead>
        <h4>Articulos Comprados </h4>
        <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Cantidad</th>
            <th>Precio</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let herramienta of herramientas">
            <td [ngClass]="{'clearance': herramienta.clearance}">
                {{herramienta.name}}
            </td>
            <td [ngClass]="{'clearance': herramienta.clearance}">
                {{herramienta.type}}
            </td>
            <td>{{herramienta.quantity}}</td>
            <td [ngClass]="{'clearance': herramienta.clearance}" *ngIf="herramienta.clearance; else sinDes">{{(herramienta.price*0.8)*herramienta.quantity}}</td>
            <ng-template #sinDes>{{herramienta.price*herramienta.quantity}}</ng-template>
        </tr>
        <button type="button" class="button-buy btn btn-danger" (click)="deleteCart()">Volver a Comprar</button>
    </tbody>
</table>